.info-background {
  background-color: #fceae8;
}
.catagories img {
  width: 100px;
}
.panda-button {
  color: white;
  background-color: #ff589b;
  border: 0;
  border-radius: 7px;
  padding: 7px;
}
